---
import Layout from "../layouts/Layout.astro"
import Services from "../components/Services.astro"
import Projects from "../components/Projects.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Technologies from "../components/Technologies.astro"

---

<Layout title="NicoDev | Desarrollador Web">
	<main class="max-w-2xl mx-auto pt-20">
		<Hero />
		<Services />
		<Projects />
		<Technologies />
		<Contact />
	</main>
	<Footer />
</Layout>
