---
import { CONTACT } from "../constants/contact"
import GithubIcon from "./icons/GithubIcon.astro"
import LinkedinIcon from "./icons/LinkedinIcon.astro"
---

<div class="pt-20 pb-10 bg-gradient-to-b from-transparent dark:to-[rgba(0,163,255,0.15)] to-[rgba(27,118,255,0.1)] ">
	<footer class="flex justify-between max-w-2xl mx-auto px-4 ">
		<div>
			<a href="/#" class="text-xl focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded dark:hover:text-violet-300 hover:text-violet-500">Nicolás Rodriguez</a>
		<div class="flex gap-3 py-3">
			<a class="dark:hover:text-violet-300 hover:text-violet-500 focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded" href={CONTACT.Github}><GithubIcon class="size-6" /></a>
			<a class="dark:hover:text-violet-300 hover:text-violet-500 focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded" href={CONTACT.Linkedin}><LinkedinIcon class="size-6" /></a>
		</div>
	</div>
	<nav class="flex flex-col items-end gap-1">
		<a href="/#" class="dark:hover:text-violet-300 hover:text-violet-500 focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded">Inicio</a>
		<a href="/#servicios" class="dark:hover:text-violet-300 hover:text-violet-500 focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded">Servicios</a>
		<a href="/#trabajos" class="dark:hover:text-violet-300 hover:text-violet-500 focus-visible:outline outline-offset-8 outline-violet-500 outline-2 rounded">Trabajos</a>
	</nav>
</footer>
</div>
