<header class="flex justify-between items-center container mx-auto py-6">
	<a href="#" role="heading" aria-label="1">LOGO</a>
	<nav class="flex gap-12">
		<a href="#">Inicio</a>
		<a href="#">Proyectos</a>
		<a href="#">Contacto</a>
	</nav>
</header>