---
import Section from "./Section.astro"
import Project from "./Project.astro"

import { PROJECTS } from "../constants/projects"
---

<Section title="Trabajos" id="trabajos">
	<div class="grid grid-cols-1 gap-8 py-8">
		{
			PROJECTS.map((project) => (
				<Project project={project}></Project>
			))
		}
	</div>
</Section>
