---
import Section from "./Section.astro"
import Project from "./Project.astro"

import { getTrabajos } from "../lib/content"

const projects = await getTrabajos()
---

<Section title="Trabajos" id="trabajos">
  <div id="trabajos-content" class="relative grid grid-cols-1 pt-8 gap-16">
    {projects.map((project) => (
      <div class="card-wrapper">
        <Project project={project} />
      </div>
    ))}
  </div>
</Section>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  const projects = document.querySelectorAll(".card-wrapper > *")

  projects.forEach((project) => {
    gsap.fromTo(
      project,
      {
        opacity: 0,
        y: 30,
      },
      {
        opacity: 1,
        y: 0,
        scrollTrigger: {
          trigger: project,
          start: "top 85%",
          toggleActions: "play none none none",
        },
        duration: 0.5,
        ease: "power2.out",
      }
    )
  })
</script>
