---
interface Props {
	title?: string
	class?: string
	id?: string
}

const { title, class: className, id } = Astro.props
---

<section class:list={["py-20 px-3", className]} id={id}>
	<h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-2">{title}</h2>
	<slot />
</section>
