---
interface Props {
  title?: string
  class?: string
  id?: string
}

const { title, class: className, id } = Astro.props
---

<section class:list={["py-20 px-3", className]} id={id}>
  <h2
    data-title={title}
    class="section-title text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
    {title}
  </h2>
  <slot />
</section>

<script>
  import SplitType from "split-type"
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  const sectionTitleEl = document.querySelector(".section-title")
  const shouldAnimate = !!sectionTitleEl?.getAttribute("data-title")

  if (shouldAnimate) {
    gsap.utils.toArray(".section-title").forEach((title: HTMLElement) => {
      const text = new SplitType(title, { types: "words,chars" })

      gsap.from(text.chars, {
        opacity: 0,
        x: 20,
        duration: 0.3,
        ease: "power2.out",
        stagger: 0.04,
        scrollTrigger: {
          trigger: title,
          start: "top 85%",
          toggleActions: "play none none none",
        },
      })
    })
  }
</script>
