---
interface Props {
	title: string
	class?: string
}

const { title, class: className } = Astro.props
---

<section class=`py-20 ${className}`>
	<h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">{title}</h2>
	<slot />
</section>
