---

---

<a
	class="flex gap-2 items-center px-5 py-2 rounded-full border dark:border-white/20 border-gray-200 justify-center hover:bg-gray-200 dark:hover:bg-gray-200/20 transition-colors"
	href={Astro.props.to ?? "#"}
	target="_blank"
	rel="noopener noreferrer">
	<slot />
</a>
