---
import { TECHNOLOGIES } from "../constants/technologies"
import Pill from "./Pill.astro"
import Section from "./Section.astro"
---

<Section title="Tecnologías" id="tecnologias" class="w-full pt-12 pb-20">
  <div class="flex flex-wrap justify-center gap-2 mt-8">
    {
      Object.values(TECHNOLOGIES).map(({ name, className }) => (
        <Pill class={className}>{name}</Pill>
      ))
    }
  </div>
</Section>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.from("#tecnologias .pill", {
    opacity: 0,
    duration: 0.5,
    stagger: 0.1,
    ease: "back.out",
    scrollTrigger: {
      trigger: "#tecnologias .pill",
      start: "top 80%",
      toggleActions: "play none none restart",
    },
  })
</script>
