---
export interface Props {
  title: string
  subtitle?: string
  align?: 'center' | 'left'
  as?: 'h1' | 'h2' | 'h3'
  gradient?: boolean
  className?: string
}

const {
  title,
  subtitle,
  align = 'center',
  as: Tag = 'h2',
  gradient = true,
  className,
} = Astro.props

const titleClasses = `font-semibold text-3xl md:text-4xl ${
  gradient ? 'heading-gradient' : 'text-zinc-100'
} ${align === 'center' ? 'text-center' : 'text-left'}`
---

<Tag class:list={[titleClasses, className]}>
  {title}
</Tag>

{
  subtitle && (
    <p
      class={`text-lg text-zinc-400 mt-4 max-w-2xl ${
        align === 'center' ? 'mx-auto text-center' : 'text-left'
      }`}
    >
      {subtitle}
    </p>
  )
}
